
body {
    background: #000;
    color: white;
    font-family: Arial;
    margin: 0;
}

.login-container {
    width: 90%;
    max-width: 350px;
    margin: 80px auto;
    background: #111;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #333;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #444;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background: #666;
}

p {
    text-align: center;
}

a {
    color: #5f8bff;
}
